<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Todo App</title>
<!--    <link rel="stylesheet" href="/static/lib/normalize.css" />
    <link rel="stylesheet" href="/static/lib/skeletal.css" />
    <link rel="stylesheet" href="/static/lib/variables.css" />
    <link rel="stylesheet" href="/static/lib/custom.css" />-->
    <link rel="stylesheet" href="/static/lib/_normalize.css" />
    <link rel="stylesheet" href="/static/lib/_skeleton.css" />
    <link rel="stylesheet" href="/static/style.css"/>

<!-- navbar code https://skeletal.peterme.net/#code-->
</head>
<body>
    <div class="container">
            <!-- Navigationsleiste wenn der User angemeldet ist-->
        <div class="row">
            <div class="ten columns">
                <ul class="navbar">
                    <li class="navigation-img">
                        <img src="/static/img/logo.png" height="50", width="100", style="margin-top:10px">
                    </li>
                    <li class="navigation-item">
                    <a href="/dashboard">Lists</a>
                    </li>
                    <li class="navigation-item">
                        <a href="/settings">Settings</a>
                    </li>
					<li class="navigation-item" >
                        <a href="https://github.com/martino1988/flask-todo">Github</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>
