{% extends "layouts/layout.html" %}

{% block content %}
{% for message in get_flashed_messages() %}

	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	</div>
{% endfor %}
<div>
	<form method="POST">
		{{ form.hidden_tag() }}
		{{ form.listname.label(class="form-label") }}
		{{ form.listname(class="form-control") }}
		{{ form.submit(class="btn btn-secondary") }}
	</form>





	<h4>Alle Listen</h4>
	<div class="row">
		<div class="eight columns">
			<table class="u-full-width">
		<thead>
		<tr>
			<th>
				Name
			</th>
			<th>
				Edit
			</th>
			<th>
				Delete
			</th>
		</tr>
		</thead>
		<tbody>
		
		{% for list in alle_listen %}
		<tr>
			<!-- Listname -->
			<td>
				<a href="{{ url_for('show_shoppinglist', id=list[0]) }}">{{ list[1] }}</a>
			</td>
			
			<!-- Edit Logo and Link -->
			<td style="min-width:1px;max-width:10px">
				<a href="{{ url_for('show_change_list', id=list[0]) }}">
					<img src="/static/img/edit.png" height="15", width="15", style="margin-top:1px; margin-right:1px">
				</a>
			</td>

			<!-- Delete Logo and Link -->
			<td style="min-width:10px;max-width:10px">
				<a href="{{ url_for('show_delete_list', id=list[0]) }}">
					<img src="/static/img/delete.png" height="15", width="15", style="margin-top:1px; margin-right:1px">
				</a>
			</td>

		</tr>
		{% endfor %}
		
		</tbody>
	</table>
		</div>
	</div>

</div>

{% endblock %}